In [9]:
import pandas as pd
from glob import glob

In [90]:
files = glob("../data/2*.csv")
files = sorted(files)
files

['../data/2023_0520_155441_001A.csv',
 '../data/2023_0520_160942_004A.csv',
 '../data/2023_0520_162442_006A.csv']

In [91]:
data = [pd.read_csv(f, skiprows=7, skipinitialspace=True) for f in files]
data = pd.concat(data)
data

,GPS Reading,GPS Time,GPS Weeks,Elapsed Time,Lat (Degrees),Lon (Degrees),Lat (feet),Lon (feet),Altitude (feet),Temperature (degrees F),...,D5,A0,A1,A2,A3,Gear,Brake (calc),Accel (calc),Lap,Brake (bar)
0,1,0,0,0,52.390723,4.542049,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,52.390723,4.542049,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,52.390723,4.542049,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,52.390723,4.542049,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,52.390723,4.542049,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8305,0,0,0,0,52.390365,4.542090,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8306,0,0,0,0,52.390365,4.542090,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8307,1,0,0,0,52.390365,4.542090,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8308,0,0,0,0,52.390365,4.542090,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8309,0,0,0,0,52.390365,4.542090,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
data = data[['GPS Reading', 'Lat (Degrees)', 'Lon (Degrees)', 'Velocity (MPH)', 'Heading(Deg)']].copy()
data['Velocity (KPH)'] = data['Velocity (MPH)'] * 1.60934
data.loc[data.index<400, 'Velocity (KPH)'] = 0 
data['Velocity (KPH)'] = data['Velocity (KPH)'].astype(int)
display(data['Velocity (MPH)'].describe())
display(data['Velocity (KPH)'].describe())
data

count    62385.000000
mean        31.030296
std         10.543641
min          0.000000
25%         27.000000
50%         32.000000
75%         37.000000
max         74.000000
Name: Velocity (MPH), dtype: float64

count    62385.000000
mean        48.630103
std         17.795339
min          0.000000
25%         43.000000
50%         51.000000
75%         59.000000
max        119.000000
Name: Velocity (KPH), dtype: float64

,GPS Reading,Lat (Degrees),Lon (Degrees),Velocity (MPH),Heading(Deg),Velocity (KPH)
0,1,52.390723,4.542049,3,0.0,0
1,0,52.390723,4.542049,3,0.0,0
2,0,52.390723,4.542049,3,0.0,0
3,1,52.390723,4.542049,3,0.0,0
4,0,52.390723,4.542049,3,0.0,0
...,...,...,...,...,...,...
8305,0,52.390365,4.542090,0,0.0,0
8306,0,52.390365,4.542090,0,0.0,0
8307,1,52.390365,4.542090,0,0.0,0
8308,0,52.390365,4.542090,0,0.0,0
8309,0,52.390365,4.542090,0,0.0,0

In [93]:
data.to_csv("../data/combined.csv", index=False)